<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94DAD8EC1E18F959001183F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94DAD9001E18F95A001183F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94DAD90B1E18F95A001183F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
